# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Env
.env
.env.local

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Static (собранная, генерируется, не хранится в репо)
/staticfiles/